body {
    background-image: url("diagonal.png");
	font-family: Arial, Helvetica, sans-serif;
	padding: 1em;
}
header {
    background: linear-gradient(#111111, #000000);
    background-color: #000000;
    box-shadow: 0em 0.25em 0.5em #777777;
    color: #FFFFFF;
    overflow: auto;
    padding: 1em;
}
header h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
    vertical-align: bottom;
}
nav {
    background-color: #FFFFFF;
    box-shadow: 0em 0.25em 0.5em #777777;
    margin: 0.5em 1em;
    padding: 0.5em 0.5em 0 0.5em;
}
main {
}
section {
    background-color: #FFFFFF;
    box-shadow: 0em 0.25em 0.5em #777777;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
}

/**/

h1 {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
}
h2 {
	display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
}
p {
    display: block;
    margin: 1em 0;
}
dl {
    display: block;
    margin: 1em 0;
}
dt {
    display: block;
    margin: 1em 0 0.5em 0;
} 
dd {
    display: block;
    margin-left: 40px;
}
ul {
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px;
}
li {
    display: list-item;
}

/**/
.status-bar {
    background-color: #000000;
    color: #FFFFFF; 
    padding: 0.5em 1em;
    text-align: right;
}
.button {
    background-color: #777777;
    border: none;
    box-shadow: 0em 0.25em 0.5em #777777;
    color: white;
    padding: 0.75em 1em;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0 0.5em 0.5em 0;
    cursor: pointer;
}
.idea-box {
    background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
    background-color: #EAE44B;
    box-shadow: 0em 0.25em 0.5em #777777;
    max-width: 200px;
    padding: 1em;
}