body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 1em;
	padding: 1em;
}
header {
    border-bottom: 1px solid black;
    margin: 0 1em;
    padding: 0 1em;
}
nav {
    border-bottom: 1px solid black;
    margin: 1em;
    padding: 1em;
}
main {
	border-bottom: 1px solid black;
    margin: 0 1em;
    padding: 1em;
}

/**/

h1 {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
}
h2 {
	display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
}
p {
    display: block;
    margin: 1em 0;
}
dl {
    display: block;
    margin: 1em 0;
}
dt {
    display: block;
    margin: 1em 0 0.5em 0;
} 
dd {
    display: block;
    margin-left: 40px;
}
ul {
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px;
}
li {
    display: list-item;
}